body {
	background-color:#092E20;
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 2rem;
}

p {
	margin: 0 0 1em;
}

img {
	border: none;
}

img.preload {
	display: none;
}

h1 {
	font-size:60px;
	text-align:center;
	padding:0px;
	margin:10px auto;
}

.hidden, .template {
	display: none;
}

.game_box {
	position: relative;
	/* Define z-index, as it contains absolutely positioned elements (cards)
	 	that must not overlay later absolute elements (modals). */
	z-index: 1;

	margin: 20px auto;
	border:solid 0 black;
	border-radius: 8px;
	box-shadow:black 0 0 2px;
	background: #ffffff;
	padding: 30px 50px;
	width: calc(600px + 2*6px + 2*50px + 2*1px);	/* card table's 600 width + 2x6px borders + 2*50px self-padding + 2x1px serlf-border. */
}

.table_container {
	position: relative;
	clear: left;
}

.table_container .start_button_base {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	border: solid 0;
	border-radius: 8px;	/* To match #card-table. */
	background-color: rgba(150, 150, 150, 0.7);
}

.table_container button {
	margin: auto;
}

.project_info {
	margin: 20px auto;
	width: 612px;	/* To match .game_box. */
	color: #ffffff;
}

.project_info a {
	text-decoration: underline;
	color: #ffffff;
}

#card-table {
	background-color:green;
	height:calc(400px + 2*6px);	/* 400px + 2*6px self-border. */
	width:calc(600px + 2*6px);	/* 600px + 2*6px self-border. */
	border:solid 6px brown;
	border-radius:8px;
	box-shadow:#111 1px 1px 2px;
}

.player_avatar.player_1, .player_avatar.player_2 {
	float: left;
	margin-bottom: 10px;
	width: 50%;
	text-align: center;
}

.player_avatar.player_0 {
	margin-top: 10px;
	text-align: center;
}

table.game_status {
	margin-top: 12px;
	border-collapse: collapse;
}

table.game_status th {
	font-weight: normal;
}

table.game_status thead tr:first-child th {
	text-align: center;
	font-weight: bold;
}

table.game_status th, table.game_status td {
	padding: 1px 4px;
}

table.game_status th.points {
	text-align: center;
}

table.game_status tr.totals {
	font-weight: bold;
}

table.game_status td {
	border: 1px solid #999999;
}

table.game_status td.chips,
table.game_status td.points,
table.game_status td.tricks {
	text-align: right;
}

table.game_status td.points,
table.game_status td.tricks {
	min-width: 24px;
}

/* For "galdiņš" highlight the trick count, for other game modes -  the points. */
table.game_status td.chips.won,
table.game_status td.points.won,
table.game_status .game_mode_galdi__ td.tricks.won {
	color: #008000;
}

table.game_status td.chips.lost,
table.game_status td.points.lost,
table.game_status .game_mode_galdi__ td.tricks.lost {
	color: #a52a2a;
}

table.game_status .game_mode_galdi__ td.points {
	color: inherit;
}


table.game_status td.chips.player_0,
table.game_status td.points.player_0 {
	border-left-style: double;	/* Different kind of data, more border. */
	border-left-width: 3px;
}

table.game_status td.points {
	/* Same player, less border. */
	/* Appears "solid" if 1px, so 2 px. */
	border-right: dashed 2px #aaaaaa;
}

table.game_status .game_mode.skip {
	color: #888888;
}

table.game_status td.game_mode.player_A {
	background: #eeffff;	/* Light blue. */
}

.centering_container {
	display: flex;
}

.modal-dialog {
	width: auto;
}

.project_info p:last-child {
	position: relative;
}

.project_info p:last-child a {
	position: absolute;
	bottom: 0;
	right: 0;
}